$palette: (
    bg:          #ffffff,
    bg-alt:      #f4f4f4,
    fg:          #646464,
    fg-bold:     #3c3b3b,
    fg-light:    #aaaaaa,
    border:      rgba(160,160,160,0.3),
    border-bg:   rgba(160,160,160,0.075),
    border-alt:  rgba(160,160,160,0.65),
    accent:      #f62c97 /* Smarc pink color – main accent color to be used consistently */
);